SPRING_PROFILES_ACTIVE=dev

## Datasource
SPRING.DATASOURCE.USERNAME=engineer
SPRING.DATASOURCE.PASSWORD=password

## Jpa
SPRING.JPA.DATABASE-PLATFORM=org.hibernate.dialect.PostgreSQLDialect

## Resources
FIGURES.DIR=./data/images/
EXPORT.DIR=./data/export/
LOAD.DIR=./data/load/
